<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Dallas Strategic Property Tax Advisors help homeowners evaluate the likelyhood they can win a property tax appeal!">
    <meta name="keywords" content="Dallas property tax, machine learning, winning an appeal"/>
    <meta name="author" content="Estuardo Balderas, Matt Friske, Michael Harvanek, Trong Nguyen, Jill Smith, Nicholas Smith">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <meta name="format-detection" content="telephone=no">
    <title>Dallas Strategic Property Tax Advisors</title>

    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">-->
    <!--<link rel="stylesheet" type="text/css" href="./assets/css/style.css">-->


    <!--[if lt IE 9]>
    <script src="./assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="./assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="./assets/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate ct-headroom--fixedMenu onepager country">
<div class="ct-preloader"><div class="ct-preloader-content"></div></div>
<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#abouttheprocess">About the Process</a></li>
        <li><a href="#latestoffers">Appeal</a></li>
        <li><a href="#latestoffers">Contact</a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile ct-navbarMobile--inverse">
    <a class="navbar-brand" href="index.html">
    </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<header class="ct-mediaSection scroll" id="home" data-height="460" data-type="pattern" data-bg-image="./assets/images/content/quiet-neighborhood.jpg" data-bg-image-mobile="./assets/images/content/quiet-neighborhood.jpg">
    <div class="container">
        <a href="index.html">
            <div class="ct-logo ct-u-marginTop110 ct-u-marginBottom90">
                <h1> Dallas Strategic Property Tax Advisors </h1>
                <span class="shapeBottom"></span>
                <span class="shapeTop"></span>
            </div>
        </a>
        <div class="clearfix"></div>
    </div>
    <div class="ct-menu" data-startnavbar="315" data-offset="460">
        <div class="container">
            <div class="ct-contact pull-right">
                <ul class="ct-socials list-inline list-unstyled">
                    <li><a href="https://www.facebook.com/createITpl" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/createitpl" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                </ul><div class="ct-contact-right">
                <i class="fa fa-phone fa-fw"></i> (214) 768-2000
            </div>
            </div>
            <div class="clearfix"></div>
            <a href="index.html">
                <div class="ct-logo ct-logo--transparent">
                    <h1>Houses <span>rent</span></h1>
                    <img src="./assets/images/content/country-logo2.png" alt="Logo Country">
                </div>
            </a>
            <nav class="navbar pull-right">
                <ul class="nav navbar-nav">
                    <li class="onepage">
                        <a href="#home" class="ct-js-btnScroll">Home</a>
                    </li>
                    <li class="onepage">
                        <a href="#welcome" class="ct-js-btnScroll">Welcome</a>
                    </li>
                    <li class="onepage">
                        <a href="#abouttheprocess" class="ct-js-btnScroll">About the Process</a>
                    </li>
                    <li class="onepage">
                        <a href="#appeal" class="ct-js-btnScroll">Appeal</a>
                    </li>
                    <li class="onepage">
                        <a href="#questions" class="ct-js-btnScroll">Questions</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</header>

<!-- Welcome -->
<div class="container">
    <div class="text-center ct-u-paddingTop60 ct-u-paddingBottom80 scroll" id="welcome">
        <h2>Welcome</h2>
        <small>Appeal with confidence! Appeal the right way with machine learning!</small>
        <p>Why take chances with something as important as property tax? Harnessing the power of machine learning, we have helped thousands of Dallas property owners to determine their chances of winning an appeal even before they step into the courtroom.</p>
    </div>
</div>
<div class="ct-mediaSection" data-stellar-background-ratio="0.3" data-type="parallax" data-bg-image="./assets/images/content/skyline.jpg" data-bg-image-mobile="./assets/images/content/country-divided-section.jpg">
    <div class="ct-dividedSection ct-dividedSection--primary">
        <div class="ct-scaleImage">
            <img src="./assets/images/content/map.png" alt="Chairs">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <div class="ct-dividedSection-content ct-u-paddingBoth55">
                        <h3 class="ct-u-paddingBottom10">Property you won’t find anywhere else.</h3>
                        <p>We have direct access to the lake Guzowy furnace and a unique view of both of our homes for a wide panorama of the lake.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ct-dividedSection-mask"></div>
    </div>
</div>

<!-- About the Process -->
<div class="ct-mediaSection ct-u-marginTop100" id="abouttheprocess" data-stellar-background-ratio="0.3" data-type="parallax" data-bg-image="./assets/images/content/web.png" data-bg-image-mobile="./assets/images/content/web.png">
    <div class="ct-u-marginBoth80">
        <div class="container">
            <div class="ct-js-owl owl-carousel owl-carousel--arrowsType2 owl-carousel--arrowsOutside" data-mdItems="1"  data-lgItems="2" data-smItems="1" data-single="false" data-autoPlay="true" data-pagination="false" data-navigation="true" data-items="3" data-snap-ignore="true">
                <div class="item">
                    <div class="ct-infoBox">
                        <div class="ct-infoBox-media">
                            <a href="blog-single.html"><img src="./assets/images/content/DCAD.JPG" alt="Info Slider Picture 1"></a>
                        </div>
                        <div class="ct-infoBox-content">
                            <a href="blog-single.html"><h3>Data Exploration</h3></a>
                            <p>With so many people relocating to Dallas County, property values have sky rocketed over the past few years. 
                                Consequently, this has caused an increase in property tax values which may warrant a review. 
                                We set out to create a tool that will allow Dallas property owners to determine the probability
                                of winning an appeal by aligning the taxable value to the features of the property itself. </p>
                            <a href="http://dallascad.org/DataProducts.aspx" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ct-infoBox">
                        <div class="ct-infoBox-media">
                            <a href="blog-single.html"><img src="./assets/images/content/country-infoslider-item2.jpg" alt="Info Slider Picture 2"></a>
                        </div>
                        <div class="ct-infoBox-content">
                            <a href="blog-single.html"><h3>Data Source</h3></a>
                            <p>Our data was collected from the Dallas Central Appraisal District.</p>
                            <a href="blog-single.html" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ct-infoBox">
                        <div class="ct-infoBox-media">
                            <a href="blog-single.html"><img src="./assets/images/content/country-infoslider-item3.jpg" alt="Info Slider Picture 3"></a>
                        </div>
                        <div class="ct-infoBox-content">
                            <a href="blog-single.html"><h3>Step 3</h3></a>
                            <p>Text Text Text Text</p>
                            <a href="blog-single.html" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ct-infoBox">
                        <div class="ct-infoBox-media">
                            <a href="blog-single.html"><img src="./assets/images/content/country-infoslider-item1.jpg" alt="Info Slider Picture 1"></a>
                        </div>
                        <div class="ct-infoBox-content">
                            <a href="blog-single.html"><h3>Step 4</h3></a>
                            <p>Text Text Text Text</p>
                            <a href="blog-single.html" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ct-infoBox">
                        <div class="ct-infoBox-media">
                            <a href="blog-single.html"><img src="./assets/images/content/country-infoslider-item2.jpg" alt="Info Slider Picture 2"></a>
                        </div>
                        <div class="ct-infoBox-content">
                            <a href="blog-single.html"><h3>Step 5</h3></a>
                            <p>Text Text Text Text</p>
                            <a href="blog-single.html" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ct-infoBox">
                        <div class="ct-infoBox-media">
                            <a href="blog-single.html"><img src="./assets/images/content/country-infoslider-item3.jpg" alt="Info Slider Picture 3"></a>
                        </div>
                        <div class="ct-infoBox-content">
                            <a href="blog-single.html"><h3>Step 6</h3></a>
                            <p>Text Text Text Text</p>
                            <a href="blog-single.html" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


















<!-- APPEAL Section where clients can put in their address to start the process -->
<div class="ct-contactBox">
    <div class="container">
        <div class="text-center ct-u-paddingTop60 ct-u-paddingBottom100 scroll" id="appeal">
            <h2>Appeal Today</h2>
            <small>Start the process.</small>
            <p>To see your chances of appealing, fill out the form below.</p>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="ct-bookForm contactForm validateIt" method="post" action="./assets/form/send.php" role="form" data-email-subject="Contact Form" data-show-errors="true">
                        <div class="house">
                            <input type="text" class="form-control" name="field[]" placeholder="House #" required>
                        </div>
                        <div class="street">
                            <input type="text" class="form-control" name="field[]" placeholder="Street" required>
                        </div>
                        <div class="city">
                            <input type="email" class="form-control" name="field[]" placeholder="City" required>
                        </div>
                        <div class="zip">
                            <input type="email" class="form-control" name="field[]" placeholder="Zip" required>
                        </div>
                        <div class="input-group ct-u-paddingTop20">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <div class="successMessage alert alert-success ct-u-marginTop20" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Thank You!
                    </div>
                    <div class="errorMessage alert alert-danger ct-u-marginTop20" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Ups! An error occured. Please try again later.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Question Section where clients can put in their questions or concerns starting the process -->
<div class="ct-contactBox">
    <div class="container">
        <div class="text-center ct-u-paddingTop60 ct-u-paddingBottom100 scroll" id="questions">
            <h2>Questions</h2>
            <small>Can't find your address? Problem with the data? Write to us.</small>
            <p>Send us your questions and concerns and our experience data scientists will answer them in a timely manner.</p>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="ct-bookForm contactForm validateIt" method="post" action="./assets/form/send.php" role="form" data-email-subject="Contact Form" data-show-errors="true">
                        <div class="firstName">
                            <input type="text" class="form-control" name="field[]" placeholder="first name" required>
                        </div>
                        <div class="lastName">
                            <input type="text" class="form-control" name="field[]" placeholder="last name" required>
                        </div>
                        <div class="email">
                            <input type="email" class="form-control" name="field[]" placeholder="email" required>
                        </div>
                        <div class="message">
                            <textarea rows="6" class="form-control" name="field[]" placeholder="message" required></textarea>
                        </div>
                        <div class="input-group ct-u-paddingTop20">
                            <button type="submit" class="btn btn-primary">Contact Us</button>
                        </div>
                    </form>
                    <div class="successMessage alert alert-success ct-u-marginTop20" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Thank You!
                    </div>
                    <div class="errorMessage alert alert-danger ct-u-marginTop20" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Ups! An error occured. Please try again later.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Footer with company address. -->

<footer class="ct-u-paddingTop80">
    <div class="container">
        <div class="row text-center-sm">
            <div class="col-sm-3">
                <a href="index.html">
                    <span class="ct-white-logo">
                        <img src="./assets/images/content/blue_flower.png" alt="Logo">
                    </span>
                </a>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <div class="widget-title"><i class="fa fa-map-marker fa-fw"></i> Fondren Science Building</div>
                    <address>
                        3215 Daniel Ave, #152<br>
                        Dallas, TX 75205<br>
                        (214) 768-2000<br>
                    </address>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <div class="widget-title"><i class="fa fa-map-marker fa-fw"></i> Harold Clark Simmons</div>
                    <address>
                        6401 Airline Rd., #101D<br>
                        Dallas, TX 75205<br>
                        (214) 768-7587<br>
                    </address>
                </div>
            </div>
        </div>
        <div class="ct-u-paddingTop50 text-center">
            <hr>
            <div class="ct-scrollUpButton ct-js-btnScrollUp ct-u-marginTop40 ct-u-marginBottom30">Go to top</div>
        </div>
    </div>
</footer>
</div>

<!-- JavaScripts -->
<script src="./assets/js/externals.min.js"></script>

<script src="./assets/plugins/owl/owl.carousel.min.js"></script>
<script src="./assets/plugins/owl/thumbnail-init.js"></script>
<script src="./assets/plugins/owl/init.js"></script>

<script src="./assets/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
<script src="./assets/plugins/ct-mediaSection/js/init.js"></script>

<script src="./assets/js/magnific-popup/jquery.magnific-popup.min.js"></script>

<script src="./assets/js/counter/jquery.countTo.js"></script>
<script src="./assets/js/counter/init.js"></script>

<script src="./assets/plugins/headroom/headroom.js"></script>
<script src="./assets/plugins/headroom/jQuery.headroom.js"></script>
<script src="./assets/plugins/headroom/init.js"></script>

<script src="./assets/js/select2/select2.min.js"></script>
<script src="./assets/js/datapicker/bootstrap-datepicker.js"></script>



<script src="./assets/js/onepage-scroll/jquery.onepage-scroll.js"></script>

<script src="./assets/form/js/contact-form.js"></script>
<script src="./assets/js/main.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="./assets/js/gmaps/gmap3.min.js"></script>
<script src="./assets/js/gmaps/init.js"></script>


<script src="./assets/js/retina.min.js"></script>
</body>
</html>